.background {
  width: 225px;
  height: 100vh;
  padding: 14px;
  position: relative;
}

.background.dark {
  background-color: var(--dark-bg-hard);
}

.background.light {
  background-color: var(--white);
}

.background.violet {
  background-color: var(--violet-bg-hard);
}

@media screen and (min-width: 768px) {
  .background {
    width: 260px;
    padding: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .background {
    width: 260px;
  }
}
