.burger {
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.burgerIcon{
  width: 24px;
  height: 24px;
  stroke: var(--white);
  transition: stroke .3s ease;
}

@media screen and (min-width: 1440px) {
  .burger{
    display: none;
  }
}

.burger.light .burgerIcon,  .burger.violet .burgerIcon{
  stroke: var(--dark-bg-medium);
}