.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;   
}

.form.light,
.form.violet {
    background-color: var(--light-bg-medium);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px; 
    min-width: 335px;
    height: 355px;
    border-radius: 8px;
    background-color: var(--dark-modal-bg);
    position: relative;  
}

.title {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 10px;
}

.input {
    width: 100%;
    height: 49px;
    border: 1px solid var(--green);
    border-radius: 8px;
    background-color: transparent;
    color: var(--white);
     opacity: 40%;
     padding: 14px 18px;
}

.input.violet,
.textarea.violet {
    border-color: var(--violet-bg-hard);
}



.textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid var(--green);
    border-radius: 8px;
    background-color: transparent;
    color: var(--white);
    opacity: 40%;
    padding: 14px 18px;
}

.input:focus,
.textarea:focus {
opacity: 100%;
outline: none;
}

.input::placeholder,
.textarea::placeholder {
font-size: 14px;
font-weight: 400;
line-height: 1.5;
}

.closeBtn {
background: none;
border: none;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}

.closeIcon {
stroke: var(--white);
}

.closeIcon.light,
.closeIcon.violet {
stroke: var(--black);
}


@media screen and (min-width: 768px) {
.form {
min-width: 400px;
}
}