.container {
  width: 100%;
  flex-grow: 1;
}

.container.dark {
  background-color: var(--dark-bg-easy);
  color: var(--white);
}

.container.light {
  background-color: var(--frozen);
  color: var(--dark-bg-easy);
}

.container.violet {
  background-color: var(--violet-bg-easy);
  color: var(--dark-bg-easy);
}

.icon.dark {
  stroke: var(--white);
}
