.icon {
  stroke: var(--dark-bg-easy);
}

.container {
  display: flex;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg-easy);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.backdrop.isShown {
  opacity: 0.8;
  pointer-events: all;
}

.main {
  width: 100%;
}
