.div {
  width: 197px;
  height: 238px;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 14px;
  bottom: 80px;
}

.div.dark {
  background-color: var(--dark-bg-easy);
}

.div.light {
  background-color: var(--light-bg-easy);
}

.div.violet {
  background-color: #ecedfd66;
}

.btn {
  width: 94px;
  height: 20px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 54px;
  height: 78px;
}

.helpText {
  font-size: 12px;
}

.helpText.dark {
  color: var(--white);
}

.helpText.light {
  color: var(--dark-bg-medium);
}

.helpText.violet {
  color: var(--white);
}

.text {
  font-size: 12px;
  line-height: 16px;
}

.text.dark {
  color: var(--white);
}

.text.light {
  color: var(--dark-bg-medium);
}

.text.violet {
  color: var(--white);
}

.span.dark {
  color: var(--green);
}

.span.light {
  color: var(--green);
}

.span.violet {
  color: var(--violet-bg-hard);
}

.help {
  width: 20px;
  height: 20px;
}

.help.dark {
  stroke: var(--white);
}

.help.light {
  stroke: var(--dark-bg-medium);
}

.help.violet {
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .div {
    width: 212px;
    height: 272px;
    padding: 20px;
    left: 24px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }
}
