.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  background-color: var(--green);
  transition: background-color 100ms ease-in-out, color 0.3s ease;
}

.button:hover {
  background-color: var(--green-hover);
}

.button.dark {
  background-color: var(--green);
  color: var(--dark-bg-medium);
}

.button:hover.dark {
  background-color: var(--green-hover);
}

.button.light {
  background-color: var(--green);
  color: var(--dark-bg-medium);
}

.button:hover.light {
  background-color: var(--green-hover);
}

.button.violet {
  background-color: var(--violet-bg-hard);
  color: var(--white);
}

.button:hover.violet {
  background-color: var(--violet-btn-hover);
}

.icon {
  width: 14px;
  height: 14px;
  transition: stroke 0.3s ease;
}

.icon.dark {
  stroke: var(--white);
}

.icon.light {
  stroke: var(--white);
}

.icon.violet {
  stroke: var(--dark-bg-medium);
}

.iconWrapper {
  padding: 7px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.iconWrapper.dark {
  background-color: var(--dark-bg-medium);
}

.iconWrapper.light {
  background-color: var(--dark-bg-medium);
}

.iconWrapper.violet {
  background-color: var(--white);
}
