.customInput.dark,
.customInput.light {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1c1c1c;
  color: #90ee90;
  font-size: 16px;
  cursor: pointer;
}

customInput.violet {
  color: var(--violet-bg-hard);
}
