/* cont */

.cont {
  width: 135px;
  border-radius: 8px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.cont.dark {
  background-color: var(--dark-bg-easy);
}

.cont.light,
.cont.violet {
  background-color: var(--light-bg-medium);
}

/* btn */

.btn {
  background-color: transparent;
  border: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.btn.dark {
  color: var(--white);
  opacity: 50%;
}

.btn.dark:focus,
.btn.dark:hover,
.btn.dark:active {
  color: var(--green);
  opacity: 100%;
  transition: color 100ms ease-in-out, opacity 100ms ease-in-out;
}

.btn.light,
.btn.violet {
  color: var(--dark-bg-medium);
  opacity: 100%;
}

.btn.light:focus,
.btn.light:hover,
.btn.light.btn.light:active {
  color: var(--green);
  transition: color 100ms ease-in-out;
}

.btn.violet:focus,
.btn.violet:hover,
.btn.violet.active {
  color: var(--violet-bg-hard);
  transition: color 100ms ease-in-out;
}

/* icon */

.icon {
  width: 16px;
  height: 16px;
  transition: stroke 0.3s ease, opacity 0.3s ease;
}

.icon.dark {
  stroke: var(--white);
  opacity: 50%;
}

.btn.dark:focus .icon,
.btn.dark:hover .icon,
.btn.dark:active .icon {
  stroke: var(--green);
  opacity: 100%;
  transition: stroke 100ms ease-in-out, opacity 100ms ease-in-out;
}

.icon.light,
.icon.violet {
  stroke: var(--dark-bg-medium);
  opacity: 100%;
}

.btn.light:focus .icon,
.btn.light:hover .icon,
.btn.light:active .icon {
  stroke: var(--green);
  transition: stroke 100ms ease-in-out;
}

.btn.violet:focus .icon,
.btn.violet:hover .icon,
.btn.violet:active .icon {
  stroke: var(--violet-bg-hard);
  transition: stroke 100ms ease-in-out;
}
