.profile{
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--white);
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.0175em;
  cursor: pointer;
  transition: color .3s ease;
}

.avatar{
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.profile.light, .profile.violet{
  color: var(--dark-bg-medium);
}