.EPContainer {
  width: 335px;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  padding: 24px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  transition: color/background-color/stroke/fill 0.3s easy;
}

.EPContainer.dark {
  background-color: var(--dark-modal-bg);
  border: 1px solid var(--green);
  color: var(--white);
}

.EPContainer.light {
  background-color: var(--light-bg-medium);
  box-shadow: 0px 4px 16px 0px #1616160d;
  color: var(--dark-bg-medium);
}

.EPContainer.violet {
  background-color: var(--light-bg-medium);
  box-shadow: 0px 4px 16px 0px #1616160d;
  color: var(--dark-bg-medium);
}

.closeIcon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.closeIcon.dark {
  stroke: var(--white);
}

.closeIcon.light {
  stroke: var(--dark-bg-medium);
}

.closeIcon.violet {
  stroke: var(--dark-bg-medium);
}

.closeBtn {
  background-color: transparent;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  align-self: flex-start;
  margin-bottom: 14px;
}

.form {
  width: 100%;
}

.profilePicture {
  width: 68px;
  height: 79px;
  position: relative;
  margin-bottom: 24px;
}

.profileImage {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}

.input {
  display: none;
}

.inputLabel {
  cursor: pointer;
}

.uploadButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  transition: background-color 100ms ease-in-out;
}

.icon {
  width: 10px;
  height: 10px;
}

.icon.light,
.icon.dark,
.icon.violet {
  stroke: var(--dark-bg-medium);
}

.uploadButton.light,
.uploadButton.dark {
  background-color: var(--green);
}

.uploadButton.violet {
  background-color: var(--violet-bg-easy);
  transition: background-color 100ms ease-in-out;
}

.inputField {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 8px;
  opacity: 0.4;
  transition: opacity 100ms ease-in-out;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: calc(18px * 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

.inputField.dark {
  border-color: var(--green);
  color: var(--white);
}

.inputField.light {
  border-color: var(--green);
  color: var(--dark-bg-medium);
}

.inputField.violet {
  border-color: var(--violet-bg-hard);
  color: var(--dark-bg-medium);
}

.inputField:focus,
.inputField:hover {
  opacity: 1;
}

.formList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.submitButton {
  margin: 24px;
}

.formList li:last-child span {
  position: relative;
}

.iconEye {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.4;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.iconEye.dark {
  stroke: var(--white);
}

.iconEye.light {
  stroke: var(--dark-bg-medium);
}

.iconEye.violet {
  stroke: var(--dark-bg-medium);
}

.iconEye:hover {
  opacity: 1;
}

.isShownIcon {
  opacity: 1;
}

.error {
  font-size: 12px;
  margin-top: 2px;
  font-weight: 400;
  transition: color 100ms ease-in-out;
  margin-top: 14px;
}

.error.dark {
  color: var(--green);
}

.error.light {
  color: var(--green-hover);
}

.error.violet {
  color: var(--violet-bg-hard);
}
.inputField::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 374px) {
    .EPContainer {
      width: 89vw;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .EPContainer {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .EPContainer {
    width: 400px;
  }
}

/* LOADER */

.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  animation: l4 2.5s infinite;
  transition: box-shadow 0.3s ease;
}
.loader:after {
  animation-delay: -1.25s;
}

.loader.dark:before,
.loader.dark:after,
.loader.light:before,
.loader.light:after {
  box-shadow: 0 0 0 3px inset var(--green);
}

.loader.violet:before,
.loader.violet:after {
  box-shadow: 0 0 0 3px inset var(--violet-btn-hover);
}

@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}
