.header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 68px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1180px) {
  .header {
    padding: 0 24px;
  }

  .container {
    justify-content: end;
  }
}

.header.dark {
  background-color: var(--dark-bg-medium);
}

.header.light,
.header.violet {
  background-color: var(--light-bg-medium);
}
