.loadBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.loadBackground.dark {
  background-color: var(--dark-bg-easy);
}

.loadBackground.light,
.loadBackground.violet {
  background-color: var(--white);
}

.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  animation: l4 2.5s infinite;
  transition: box-shadow 0.3s ease;
}

.loader:after {
  animation-delay: -1.25s;
}

.loader.dark:before,
.loader.dark:after,
.loader.light:before,
.loader.light:after {
  box-shadow: 0 0 0 3px inset var(--green);
}

.loader.violet:before,
.loader.violet:after {
  box-shadow: 0 0 0 3px inset var(--violet-btn-hover);
}

@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }

  12.5% {
    inset: 0 35px 0 0;
  }

  25% {
    inset: 35px 35px 0 0;
  }

  37.5% {
    inset: 35px 0 0 0;
  }

  50% {
    inset: 35px 0 0 35px;
  }

  62.5% {
    inset: 0 0 0 35px;
  }

  75% {
    inset: 0 0 35px 35px;
  }

  87.5% {
    inset: 0 0 35px 0;
  }

  100% {
    inset: 0 35px 35px 0;
  }
}