.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 225px;
  padding: 14px 14px 24px 14px;
}

.wrapper.dark {
  background-color: var(--dark-bg-hard);
}

.wrapper.light {
  background-color: var(--white);
}

.wrapper.violet {
  background-color: var(--violet-bg-hard);
}

.logoItem {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  width: 12px;
  height: 16px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.logo.dark {
  fill: var(--white);
}

.logo.light {
  fill: var(--white);
}

.logo.violet {
  fill: var(--violet-bg-hard);
}

.logoWrapper.dark {
  background-color: var(--dark-bg-easy);
}

.logoWrapper.light {
  background-color: var(--dark-bg-easy);
}

.logoWrapper.violet {
  background-color: var(--white);
}

.title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.title.dark {
  color: var(--white);
}

.title.light {
  color: var(--dark-bg-easy);
}

.title.violet {
  color: var(--white);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    position: relative;
    min-width: 260px;
    max-width: 260px;
    padding: 24px;
  }
}
