.themeDropdown{
  position: relative;
}

.themeBtn{
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--white);
  background-color: transparent;
  color: var(--white);
  opacity: 0.8;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.0175em;
}

.dropdownWrap{
  position: absolute;
  top: 25px;
  overflow: hidden;
  width: 100px;
}

.dropdown{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100px;
  padding: 18px;
  border: 1px solid var(--green);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #1111111a;
  background-color: var(--dark-modal-bg);
  transform: translateY(-102%);
  transition: transform .5s linear;
}

.dropdown.active{
  transform: translateY(0);
}

.dropdown.disable { 
  transform: translateY(-102%);
}

.dropdownItem{
  width: 100%;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0175em;
  opacity: 0.5;
  cursor: pointer;
}

.dropdownItem.active{
  color: var(--green);
  opacity: 1;
}

.arrow{
  width: 16px;
  height: 16px;
  stroke: var(--white);
  opacity: 0.8;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.arrow.up{
  transform: rotate(180deg);
}

