.boardTitle {
  padding: 0 20px;
  color: var(--dark-bg-medium);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.018em;
  transition: color 0.3s ease;
}

.boardTitle.dark {
  color: var(--white);
}

.boardTitle.light,
.boardTitle.violet {
  color: var(--dark-bg-medium);
}

@media screen and (min-width: 768px) {
  .boardTitle {
    padding: 0 32px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .boardTitle {
    padding: 0 24px;
  }
}

.boardTitle.lightText {
  color: var(--white);
}

.boardTitle.darkText {
  color: var(--dark-bg-medium);
}
