.container {
  display: flex;
  height: 100vh;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  backdrop-filter: blur(0px);
  transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-width: 1440px) {
  .isShown {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(8px);
  }

  .backdrop.dark {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .backdrop.light {
    background-color: rgba(233, 233, 233, 0.5);
  }

  .backdrop.violet {
    background-color: rgba(233, 233, 233, 0.5);
  }
}
