.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 18px;
  height: 18px;
  transition: stroke 0.3s ease;
}

.icon.dark {
  stroke: var(--white);
}

.icon.light {
  stroke: var(--dark-bg-medium);
}

.icon.violet {
  stroke: var(--white);
}

.name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  transition: color 0.3s ease;
}

.name.dark {
  color: var(--white);
}

.name.light {
  color: var(--dark-bg-medium);
}

.name.violet {
  color: var(--white);
}
