.list {
  margin: 0 -14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .list {
    margin: 0 -24px;
  }
}
